{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main class="content" role="main">
	<div class="container">
            <header>
              <h2 class="entry-title">{{ .Title }}</h2>
            </header>
            <div id="blog-archives" class="category">
              {{ .Content }}
							{{ range (where .Site.RegularPages "Type" "!=" "page").GroupByDate "2006" }}
							<h3>{{ .Key }}</h3>
							<ul id="list">
      					{{ range .Pages }}
        					{{ .Render "li-titles" }}
      					{{ end }}
    					</ul>
              {{ end }}
            </div>
		<hr>
	</div>
</main>
{{ partial "footer.html" . }}
</body>
</html>
