<!DOCTYPE html>
<html lang="de" class="no-js" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<main class="content" role="main">
	<div class="container">
            <header>
              <h2 class="entry-title">
                {{ .Title }}  <!-- title, in this case it will be "Archive page" -->
              </h2>
            </header>
            <div id="blog-archives" class="category">
              {{ .Content }}
							{{ range (where .Site.RegularPages "Type" "post").GroupByDate "2006" }}
							<h3>{{ .Key }}</h3>
							<ul id="list">
      					{{ range .Pages }}
        					{{ .Render "li-titles" }}
      					{{ end }}
    					</ul>
              {{ end }}

            </div>
          <!-- </article>-->
		<hr>
	</div>
</main>
{{ partial "footer.html" . }}
</body>
</html>
