.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.AppleDouble
.AppleDB
.AppleDesktop
firebase.json
.firebaserc
.git/
node_modules/
src/images/
src/images/_resize
src/images/*
public/
public/*
functions/
functions/*
