{{ $title := .Params.Title }}
{{ $permalink := .Permalink }}
{{ $caption := .Params.Caption }}

{{ range .Params.images }}
    {{ $name :=  split . "." }}
    {{ $extension := index $name 1 }}
    {{ $filename := index $name 0 }}
      <a href="{{ $permalink }}" alt="{{ $title }}" title="{{ $title }}">
      {{ if $caption}}
        <figure>
      {{ end }}
      <picture>
        <!-- Large screens -->
        <source
          media="(min-width: 535px)"
          srcset="{{ $filename }}.{{ $extension }} 1x,
                  {{ $filename }}@2x.{{ $extension }} 2x">
        <!-- Small screens -->
        <source
          media="(max-width: 534px)"
          srcset="{{ $filename }}-sm.{{ $extension }} 1x,
                  {{ $filename }}-sm@2x.{{ $extension }} 2x">
        <!-- Fallback -->
        <img
          src="{{ $filename }}.{{ $extension }}"
          alt="{{ $title }}" title="{{ $title }}" class="img-fluid figure-img u-photo post-img photo">
      </picture>
      {{ if $caption}}
        <figcaption>{{ $caption }}</figcaption>
      </figure>
      {{ end }}
      </a>
{{ end }}
