        <section class="f-1">
            <section class="author p-author h-card" rel="author">
                <a href="{{ .Site.BaseURL }}about" class="metatag" title="{{ index .Site.Params "author" }}">{{ index .Site.Params "author" }}</a>
            </section>
            <p class="f-post-time">
              {{- partial "indieweb/mfsyndication" . -}}
                <a href="{{ .Permalink }}" class="metatag u-url u-uid">
                  {{- partial "post/post-time" . -}}
                </a>
            </p>
        </section>
