{{- if .Params.title -}}
  <h2 id="post-header" class="p-post-title p-name">
  {{- if .Params.mfbookmark -}}
  <svg class="icon"><use xlink:href="#bookmark" /><title>Bookmark</title></svg>
    <a class="u-bookmark-of" href="{{ .Params.mfbookmark }}">{{ .Title }}</a>
  {{- else if .Params.mfbookmarkof -}}
  <svg class="icon"><use xlink:href="#bookmark" /><title>Bookmark of</title></svg>
    <a class="u-bookmark-of" href="{{ .Params.mfbookmarkof }}">{{ .Title }}</a>
  {{- else if .Params.mfrepostof -}}
  <svg class="icon"><use xlink:href="#link" /><title>Repost of</title></svg>
    <a class="u-repost-of" href="{{ .Params.mfrepostof }}">{{ .Title }}</a>
  {{- else if .Params.mflikeof -}}
  <svg class="icon"><use xlink:href="#like" /><title>Likes</title></svg>
    <a class="u-like-of" href="{{ .Params.mflikeof }}">{{ .Title }}</a>
  {{- else -}}
    <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
    
  {{- end -}}
  </h2>
{{- end -}}
