<article class="li h-entry {{ .Type }}">
    <header class="post-header">
        <h2 class="post-title p-name">
{{/*
       {{ if eq .Section "notes" }}
            {{ partial "indieweb/indieweb-reaction" . }}
		{{ end }}
            <svg class="icon"><use xlink:href="#comment" /><title>Note</title></svg>
            <a class="metatag u-url u-uid" href="{{ .Permalink }}">{{ .Summary }}</a>
*/}}
            {{- if .Title }}
            <a class="metatag u-url u-uid" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end -}}
        </h2>
        <p class="post-time"><time class="dt-published" datetime="{{ .Date.Format $.Site.Params.ISO8601 }}">
        {{- if not .Title }}
        <a href="{{ .Permalink }}" class="metatag u-url u-uid">
        {{ end -}}
        {{ .Date.Format "January 02, 2006" }}</time>
        {{- if not .Title }}
        </a>
        {{ end -}}
        </p>
    </header>
    <section class="post-excerpt p-summary">
        <p>
        {{- if .Params.description }}
          {{ .Params.description }}
        {{ else }}
          {{ .Summary }}
        {{ end -}}
        {{- if .Title }}
            &nbsp;&nbsp;<a href="{{ .Permalink }}"><em>Weiterlesen…</em></a>
        {{ end -}}
        </p>
    </section>
    <footer class="post-footer">
        <span>
            {{ with .Params.tags }}
                &nbsp;&nbsp;<svg class="icon"><use xlink:href="#tags" /></svg>
                    {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") ", " }}
          {{ end }}
        </span>
    </footer>
</article>
