{{/* $paginator := .Paginate (where .Site.RegularPages "Type" "!=" "page") */}}
{{ $paginator := .Paginate (where .Data.Pages "Type" "!=" "page") }}

{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main class="content h-feed" role="main">
	{{ if .IsHome }}
	<span class="p-name hidden">{{ .Site.Title }}</span>
	{{ end }}
	<div class="container">
	{{- range $paginator.Pages }}
		{{ .Render "li" }}
	{{ end -}}
	{{- partial "pagination.html" . -}}
	</div>
</main>
{{ partial "footer.html" . }}

</body>
</html>