{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">

{{ partial "head.html" . }}
<body {{ if .IsHome }}class="h-feed"{{ end }}>
{{ partialCached "header.html" . }}
<main class="content" role="main">
	{{ if .IsHome }}
	<span class="p-name hidden">{{ .Site.Title }}</span>
	{{ end }}
	<div class="container">
	{{ range $paginator.Pages }}
		{{ .Render "li" }}
	{{ end }}
	{{ partialCached "pagination.html" . }}
	</div>
</main>
{{ partialCached "footer.html" . }}

<script async type='text/javascript' src="/js/service-worker-registration.js"></script>
<script defer type='text/javascript' src="/js/serviceWorkerSendMessage.js"></script>
</body>
</html>
