{{ partial "head.html" . }}
{{ partialCached "header.html" . }}
<main class="content" role="main">
	<div class="container">
		<header class="post-header">
        	<h3 class="p-post-title p-name">{{ .Title }}</h3>
    </header>
		<hr>
	{{ $data := .Data }}
    {{ $baseurl := .Site.BaseURL }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    	<h4><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ humanize $value.Name }}</a>
    	<span>&#40;{{ $value.Count }}&#41;</span></a>
    	</h4>
    {{ end }}

		<hr>
	</div>
</main>
{{ partial "footer.html" . }}
</body>
</html>
