    <footer id="site-footer">
        {{ partialCached "search.html" . }}
        <div class="container">
          {{ with .Site.Params.twitter_name }}
            <a href="https://www.twitter.com/{{ . }}" title="Twitter" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#twitter" /><title>Twitter</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.flickr_name }}
            <a href="https://www.flickr.com/people/{{ . }}/" title="Flickr" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#flickr" /><title>Flickr</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.instagram }}
            <a href="https://www.instagram.com/{{ . }}/" title="Instagram" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#instagram" /><title>Instagram</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.facebook }}
            <a href="https://www.facebook.com/{{ . }}" title="Facebook" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#facebook" /><title>Facebook</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.github }}
            <a href="https://www.github.com/{{ . }}" title="GitHub" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#github" /><title>Github</title></svg></span></a>
          {{ end }}
          {{ if .RSSLink }}
          <!--

            <a href="{{ .RSSLink }}" rel="me noopener" onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this);return false;" data-subtome-resource="{{ .Site.BaseURL }}" data-subtome-feeds="{{ .RSSLink }}" data-subtome-suggested-service-name="Woodwind" data-subtome-suggested-service-url="http://woodwind.xyz/subscribe?origin={feed}" title="Subscribe">
              <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
            </a>
-->
<a href="{{ .RSSLink }}" rel="me noopener noreferrer" id="subToMeLink" data-subtome-resource="{{ .Site.BaseURL }}" data-subtome-feeds="{{ .RSSLink }}" data-subtome-suggested-service-name="Woodwind" data-subtome-suggested-service-url="http://woodwind.xyz/subscribe?origin={feed}" title="Subscribe">
  <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
</a>


          {{ else }}
<!--
<a href="{{ .Site.BaseURL }}index.xml" rel="me noopener" onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this);return false;" data-subtome-resource="{{ .Site.BaseURL }}" data-subtome-feeds="{{ .Site.BaseURL }}" data-subtome-suggested-service-name="Woodwind" data-subtome-suggested-service-url="http://woodwind.xyz/subscribe?origin={feed}" title="Subscribe">
  <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
</a>
-->
            <a href="{{ .Site.BaseURL }}index.xml" rel="me noopener" id="subToMeLink" data-subtome-resource="{{ .Site.BaseURL }}" data-subtome-feeds="{{ .Site.BaseURL }}" data-subtome-suggested-service-name="Woodwind" data-subtome-suggested-service-url="http://woodwind.xyz/subscribe?origin={feed}" title="Subscribe">
              <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
            </a>

          {{ end }}


          <section class="feet h-card vcard">&copy; <a href="{{ .Site.BaseURL }}" class="p-name u-url" rel="me">{{ .Site.Params.author }}</a> 2012-2017 | Licenced under
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                class="metatag" rel="license">
                {{ .Site.Params.license }}</a>

                {{ if eq .Title "About" }}
                <img src="{{ .Site.BaseURL }}assets/renem_profile.png" alt="René profile photo" class=" hidden u-photo">
                {{ end }}
                <a class="p-nickname u-email email metatag" alt="Mail senden" rel="me" href="mailto:{{ .Site.Params.email}}">{{ .Site.Author.nick }}</a>
          </section>
          <setion class="footer-info">
            This site is built with <a href="https://gohugo.io">Hugo</a> and hosted on <a href="https://netlify.com">Netlify</a>. The source code is hosted on <a href="https://github.com">Github</a>.
          </section>
          <!--
          <section>Theme by <a href="http://www.jrdnbwmn.com">Jordan Bowman</a>. Generated with <a href="http://gohugo.io/">Hugo</a>.</section>
-->
        </div>
    </footer>

    <div class="sprite">
      {{ `<!-- SVG loading -->` | safeHTML }}
      {{ partialCached "symbol/svg/sprite.symbol.svg" . }}
    </div>
    <!--  Indieweb actions -->
    <script async type='text/javascript' src="/js/indieconfig.js"></script>
    <script async type='text/javascript' src="/js/webaction.js"></script>
    <!-- helpers -->
    <script async type='text/javascript' src="/js/helpers.js"></script>
