    <footer id="site-footer">
        {{ partialCached "search.html" . }}
        <div class="container">
          {{ with .Site.Params.microblog_name }}
            <a href="https://micro.blog/{{ . }}" title="Micro.blog" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#microblog" /><title>Micro.blog</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.twitter_name }}
            <a href="https://www.twitter.com/{{ . }}" title="Twitter" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#twitter" /><title>Twitter</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.flickr_name }}
            <a href="https://www.flickr.com/people/{{ . }}/" title="Flickr" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#flickr" /><title>Flickr</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.instagram }}
            <a href="https://www.instagram.com/{{ . }}/" title="Instagram" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#instagram" /><title>Instagram</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.facebook }}
            <a href="https://www.facebook.com/{{ . }}" title="Facebook" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#facebook" /><title>Facebook</title></svg></span></a>
          {{ end }}
          {{ with .Site.Params.github }}
            <a href="https://www.github.com/{{ . }}" title="GitHub" rel="me noopener noreferrer" target="_blank"><span class="tooltip"><svg class="icon"><use xlink:href="#github" /><title>Github</title></svg></span></a>
          {{ end }}
          {{ if .RSSLink }}
            <a href="{{ .RSSLink }}" rel="me noopener noreferrer" title="Subscribe">
              <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
            </a>
          {{ else }}
            <a href="{{ .Site.BaseURL }}index.xml" rel="me noopener" title="Subscribe">
              <span class="tooltip"><svg class="icon"><use xlink:href="#rss" /><title>Subscribe</title></svg></span>
            </a>
          {{ end }}
          <section class="feet h-card vcard">&copy; <a href="{{ .Site.BaseURL }}" class="p-name u-url fn" rel="me">{{ .Site.Params.author }}</a> {{ now.Format "2006"}} | Licenced under
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                class="metatag" rel="license">
                {{ .Site.Params.license }}</a>

                {{ if eq .Title "About" }}
                <img src="{{ .Site.BaseURL }}assets/renem_profile.png" alt="René profile photo" class=" hidden u-photo">
                {{ end }}
                <a class="p-nickname u-email email metatag" alt="Mail senden" rel="me" href="mailto:{{ .Site.Params.email}}">
                  <span class="tooltip"><svg class="icon"><use xlink:href="#mail" /><title>Mail senden</title></svg></span>
                </a>

          </section>
          <setion class="footer-info">
            This site is built with <a href="https://gohugo.io">Hugo</a> and hosted on <a href="https://netlify.com">Netlify</a>. The source code is hosted on <a href="https://github.com">Github</a>.
          </section>
        </div>
    </footer>

    <div class="sprite">
      {{ `<!-- SVG loading -->` | safeHTML }}
      {{ partialCached "symbol/svg/sprite.symbol.svg" . }}
    </div>
    <!--  Indieweb actions -->
    <script async type='text/javascript' charset="utf-8" src="/js/indieconfig.js"></script>
    <script async type='text/javascript' charset="utf-8" src="/js/webaction.js"></script>
    <!-- helpers -->
    <!-- <script async type='text/javascript' charset="utf-8" src="/js/helpers.js"></script> -->
    <script async type='text/javascript' charset="utf-8" src="/js/service-worker-registration.js"></script>
    <script defer type='text/javascript' charset="utf-8" src="/js/yall-1.2.0.min.js" defer></script>
