<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
    <head>
        {{- partialCached "meta.html" . -}}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}">
        <!-- custom css here -->
        <link href="{{ .Site.BaseURL }}css/bundle.css" rel="stylesheet" type="text/css">
        <!-- Site verification -->
        {{- if .IsHome }} {{ partial "site-verification" . }} {{ end -}}
        <!-- site RSS feeds -->
        {{- if .RSSLink }}
          <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" />
          <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed "/>
        {{ end -}}
        {{- with .OutputFormats.Get "json" }}
        <link href="{{ .Permalink }}" rel="alternate" type="application/json" title="René JSON feed" />
        {{ end -}}
        <!-- <link rel="hub" href="https://switchboard.p3k.io/"> -->
        <link rel="hub" href="https://renem.superfeedr.com/" />
        <link rel="self" href="{{ .Site.BaseURL }}" />
        <link rel="author" href="{{ .Site.BaseURL }}humans.txt" />
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="me" href="mailto:{{ .Site.Params.email }}" />
        <link href="https://www.twitter.com/{{ .Site.Params.twitter_name }}" rel="me">
        <link href="https://github.com/{{ .Site.Params.github }}/" rel="me">
        {{- with .Site.Params.instagram }}
        <link href="https://instagram.com/{{ . }}/" rel="me">
        {{ end -}}
        <link href="https://keybase.io/renem" rel="me">
        {{- with .Site.Params.flickr_name }}
        <link href="https://www.flickr.com/people/{{ . }}/" rel="me">
        {{ end -}}
        <!-- GPG, security -->
        <link href="/assets/ACC2B4B2.asc" rel="pgpkey" type="application/pgp-keys">
        <!-- micro.blog -->
        <link href="https://micro.blog/renem" rel="me" />
        <link href="https://runalyze.com/athlete/renem" rel="me" />
        <!-- indieweb -->
        <link href="http://microformats.org/profile/hcard" rel="profile" />
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
        <!-- Webmentions -->
        <link rel="pingback" href="https://webmention.io/renem.net/xmlrpc" />
        <link rel="webmention" href="https://webmention.io/renem.net/webmention" />
        {{- partial "seo-og.html" . -}}
        {{- partial "seo-schema.html" . -}}
        {{- partial "seo-twittercard.html" . -}}
        <!-- DNS prefetching in the header for external sources -->
        <link rel="dns-prefetch" href="https://webmention.io">
        <link rel="dns-prefetch" href="https://micro.blog">
    </head>
