{{- $cssOpts := (dict "targetPath" "styles/bundle.css" "enableSourceMap" true ) -}}
{{- $main := resources.Get "/css/main.css" -}}
{{- $style := slice $main | resources.Concat "bundle.css" | toCSS $cssOpts | resources.PostCSS | resources.Minify | resources.Fingerprint -}}
<!DOCTYPE html>
<html class="no-js" lang="de" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
    <head>
        {{- partial "meta.html" . -}}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}">
        <!-- custom css here -->
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" type="text/css">
        <!-- Site verification -->
        {{- if .IsHome }} {{ partial "site-verification" . }} {{ end -}}
        <!-- site feeds -->
        {{- with .OutputFormats.Get "atom" }}
        <link href="{{ .Permalink }}" rel="feed" type="application/atom+xml" title="René Atom feed" />
        <link href="{{ .Permalink }}" rel="alternate" type="application/atom+xml" title="René Atom feed" />
        {{ end -}}
        {{- with .OutputFormats.Get "json" }}
        <link href="{{ .Permalink }}" rel="alternate" type="application/json" title="René JSON feed" />
        {{ end -}}
        <!-- h-feed discovery -->
        <link href="/notes" rel="feed"  title="René Notes MF-2 feed" />
        <link href="/photos" rel="feed" title="René Photos MF-2 feed" />
        <!-- <link rel="hub" href="https://switchboard.p3k.io/"> -->
        <link rel="hub" href="https://renem.superfeedr.com/" />
        <link rel="self" href="{{ .Site.BaseURL }}" />
        <link rel="author" href="{{ .Site.BaseURL }}humans.txt" />
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="me" href="mailto:{{ .Site.Params.email }}" />
        <link href="https://www.twitter.com/{{ .Site.Params.twitter_name }}" rel="me">
        <link href="https://github.com/{{ .Site.Params.github }}/" rel="me">
        {{- with .Site.Params.instagram }}
        <link href="https://instagram.com/{{ . }}/" rel="me">
        {{ end -}}
        <link href="https://keybase.io/renem" rel="me">
        {{- with .Site.Params.flickr_name }}
        <link href="https://www.flickr.com/people/{{ . }}/" rel="me">
        {{ end -}}
        <!-- GPG, security -->
        <link href="/assets/ACC2B4B2.asc" rel="pgpkey" type="application/pgp-keys">
        <!-- micro.blog -->
        <link href="https://micro.blog/renem" rel="me" />
        <link href="https://runalyze.com/athlete/renem" rel="me" />
        <link href="https://mastodon.social/@renem" rel="me"/>
    	<!-- indieweb -->
        <link href="http://microformats.org/profile/hcard" rel="profile" />
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
        <!-- Webmentions -->
        <link rel="pingback" href="https://webmention.io/renem.net/xmlrpc" />
        <link rel="webmention" href="https://webmention.io/renem.net/webmention" />
        {{- partial "seo-og.html" . -}}
        {{- partial "seo-schema.html" . -}}
        {{- partial "seo-twittercard.html" . -}}
        <!-- DNS prefetching in the header for external sources -->
        <link rel="dns-prefetch" href="https://webmention.io">
        <link rel="dns-prefetch" href="https://micro.blog">
        <!-- Aperture.p3k.io Microsub feed hub -->
        <link rel="microsub" href="https://aperture.p3k.io/microsub/48">
    </head>
