{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "url": "{{ .Site.BaseURL }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
    },
    "description": "{{ .Site.Params.description }}",
    "license" : "https://creativecommons.org/licenses/by-nc-sa/4.0/",
    "name": "{{ .Site.Title }}"
}
</script>
{{/*
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://example.com/search?&q={query}",
    "query-input": "required"
  } */}}
{{- else if .IsPage -}}
{{ if or (eq .Type "post") (eq .Type "photos") }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "articleSection" : {{ .Section }},
    "name" : {{ .Title }},
    "headline" : {{ .Title }},
    "description" : {{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }},
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    {{ if .Params.images -}}
        {{- with .Params.images }}{{ range first 1 . }}
        "image": {
            "@type": "ImageObject",
            "url": "{{ . | absURL}} }}",
            "width": 696,
            "height": 696
          },
        {{ end }}
    {{ end }}
    {{- end }}
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Params.author }},
      "logo": {
        "@type": "ImageObject",
        "url": "{{ "/assets/renem_profile.png" | absURL }}",
        "width": 170,
        "height": 170
      }
    },
    "inLanguage" : "de",
    "author" : "{{ .Site.Params.author }}",
    "license" : "https://creativecommons.org/licenses/by-nc-sa/4.0/",
    "creator" : "{{ .Site.Params.author }}",
    "accountablePerson" : "{{ .Site.Params.author }}",
    "copyrightHolder" : "{{ .Site.Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format $.Site.Params.ISO8601 | safeHTML}}",
    {{ if not .Lastmod.IsZero -}}
    "dateModified" : "{{ .Lastmod.Format $.Site.Params.ISO8601 | safeHTML}}",
    {{- end }}
    "url" : "{{ .Permalink }}",
    {{ with .Params.tags -}}
    "keywords": "{{ delimit . ", " }}",
    {{- end }}
    "wordCount" : "{{ .WordCount }}"
}
</script>

{{ else if eq .Title "About" }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "René Meister",
    "image" : {
        "@type" : "ImageObject",
        "author" : "{{ .Site.Params.author }}",
        "contentLocation" : "Augsburg, Germany",
        "contentUrl" : "{{ "/assets/renem_profile.png" | absURL }}",
        "thumbnailUrl" : "{{ "/assets/renem_profile.png" | absURL }}",
        "datePublished" : "2011-08-20",
        "description" : "Photo ReneM",
        "name" : "René Meister Summer 2011"
    },
    "description" : "René Meister: |Tech|Mobile|Fitness|Running Father, P90X grad & coffee (#Aeropress) addicted",
    "nationality" : "Germany",
    "email" : "rene@renem.net",
    "gender" : "Male",
    "url" : "{{ .Site.BaseURL }}",
    "sameAs" : [ "http://twitter.com/rretsiem",
        "https://instagram.com/rene.meister/",
        "https://github.com/rretsiem"]
}
</script>
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "AboutPage",
    "name" : "René Meister About Page",
    "author" : "{{ .Site.Params.author }}",
    "datePublished": "{{ .Date.Format $.Site.Params.ISO8601 }}",
    {{ if not .Lastmod.IsZero -}}
    "dateModified" : "{{ .Lastmod.Format $.Site.Params.ISO8601 | safeHTML}}",
    {{- end }}
    "lastReviewed" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "reviewedBy" : "{{ .Site.Params.author }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "de",
    "copyrightHolder" : "{{ .Site.Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "accountablePerson" : "{{ .Site.Params.author }}",
    "license" : "https://creativecommons.org/licenses/by-nc-sa/4.0/",
    "url" : "{{ .Permalink }}",
    "primaryImageOfPage" : {
        "@type" : "ImageObject",
        "author" : "{{ .Site.Params.author }}",
        "contentLocation" : "Augsburg, Germany",
        "contentUrl" : "{{ "/assets/renem_profile.png" | absURL }}",
        "thumbnailUrl" : "{{ "/assets/renem_profile.png" | absURL }}",
        "datePublished" : "2011-08-20",
        "description" : "Photo ReneM",
        "name" : "René Meister Summer 2011"
    },
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }} ]
}
</script>
{{ end }}
{{ end }}
