{{ $webmentions := resources.Get "js/webmentions.js" | resources.Minify }}
{{ $webmentionsSecure := $webmentions | resources.Fingerprint }}
<section id="commentContainer">
<div class="webmention-container comments-area responses hidden" id="mentionContainer">
  <hr>
  <h3>Interaktionen</h3>
  <div class="summary-responses" id="summaryResponses"></div>
  <ol class="comment-list" id="mentionList">
  </ol>
</div>
</section>
<!--
<script async type="text/javascript" charset="utf-8" src="{{ .Site.BaseURL }}js/webmentions.js" data-no-instant></script>
-->
<script async type="text/javascript" charset="utf-8" src="{{ $webmentions.Permalink }}" integrity="{{ $webmentionsSecure.Data.Integrity }}" data-no-instant></script>
