{{ partial "head.html" . }}
{{ partialCached "header.html" . }}
<main class="content" role="main">
	{{ if .IsHome }}
	<span class="p-name hidden">{{ .Site.Title }}</span>
	{{ end }}
	<div class="container">
  {{ range first 10 (where .Data.Pages "Type" "!=" "page") }}
		{{ .Render "li" }}
	{{ end }}

  <h2>Weitere Beitr&auml;ge</h2>
  <ul id="list">
    {{ range first 20 (after 10 (where .Data.Pages "Type" "!=" "page")) }}
		  {{ .Render "li-titles" }}
	   {{ end }}
  </ul>

    <div class="comment">Alle Beiträge findet man auch via <a href="/categories/">Kategorien</a> oder <a href="/tags/">Tags</a>, oder im <a href="/archive/">Archiv</a>.</div>
  </div>

</main>
{{ partialCached "footer.html" . }}

<!--
<script async type='text/javascript' charset="utf-8" src="/js/service-worker-registration.js"></script>
<script defer type='text/javascript' charset="utf-8" src="/js/serviceWorkerSendMessage.js"></script>
-->

</body>
</html>
