
  {{- if .Params.mfbookmark -}}
  <svg class="icon"><use xlink:href="#bookmark" /><title>Bookmark</title></svg>
    bookmarked <a class="u-bookmark-of" href="{{ .Params.mfbookmark }}">{{ .Params.mfbookmarkof }}</a>
  {{- else if .Params.mfbookmarkof -}}
  <svg class="icon"><use xlink:href="#bookmark" /><title>Bookmark of</title></svg>
    bookmarked <a class="u-bookmark-of" href="{{ .Params.mfbookmarkof }}">{{ .Params.mfbookmarkof }}</a>
  {{- else if .Params.mfrepostof -}}
  <svg class="icon"><use xlink:href="#link" /><title>Repost of</title></svg>
    reposted <a class="u-repost-of" href="{{ .Params.mfrepostof }}">{{ .Params.mfrepostof }}</a>
  {{- else if .Params.mflikeof -}}
	  <svg class="icon"><use xlink:href="#like" /><title>Like</title></svg>
    	liked &nbsp;
		<a class="u-url u-like-of" href="{{ .Params.mflikeof }}">{{ .Params.mflikeof | truncate 45 }}
		</a>
    {{ if .Params.cite }}
    	<blockquote class="h-cite u-like-of e-content" cite="{{ .Params.mflikeof }}">
    		<p>{{ .Params.cite }}</p>
    	</blockquote>
    	</section>
    {{ end }}
  {{- else if .Params.mfreplyto -}}
	   {{- partial "indieweb/mfreplyto" . -}} 
  {{- else -}}
    <svg class="icon"><use xlink:href="#comment" /><title>Note</title></svg>
  {{- end -}}
