{{ $syndication := .Params.syndication }}
{{ range $syndication }}
  {{ if ne . "" }}
  {{ $domain := replaceRE "^https?://([^/]+).*" "$1" . }}
   <a href="{{ . }}" class="metatag u-syndication" rel="syndication" title="This post was syndicated to {{ $domain }}">
    {{- if in $domain "twitter.com" -}}
       <svg class="icon"><use xlink:href="#twitter" /></svg>
   {{- else if in $domain "instagram.com" -}}
      <svg class="icon"><use xlink:href="#instagram" /></svg>
   {{- else if in $domain "flickr.com" -}}
      <svg class="icon"><use xlink:href="#flickr" /></svg>
    {{ else }}
      <svg class="icon"><use xlink:href="#link" /></svg>
    {{ end }}
   </a>
   {{ end }}
{{ end }}
