{{ $title := .Params.Title }}
{{ $permalink := .Permalink }}
{{ $caption := .Params.Caption }}

{{ range .Params.images }}
    {{ $filename := . }}
      <a href="{{ $permalink }}" alt="{{ $title }}" title="{{ $title }}">
      {{ if $caption}}
        <figure>
      {{ end }}
      <picture>
        <!-- Large screens -->
        <source
          media="(min-width: 535px)"
          srcset="{{ . }}.jpg 1x,
                  {{ . }}@2x.jpg 2x">
        <!-- Small screens -->
        <source
          media="(max-width: 534px)"
          srcset="{{ . }}-sm.jpg 1x,
                  {{ . }}-sm@2x.jpg 2x">
        <!-- Fallback -->
        <img
          src="{{ . }}.jpg"
          alt="{{ $title }}" title="{{ $title }}" class="img-fluid figure-img u-photo post-img photo">
      </picture>
      {{ if $caption}}
        <figcaption>{{ $caption }}</figcaption>
      </figure>
      {{ end }}
      </a>
{{ end }}
